body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-modern {
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-modern:hover {
    color: blue;
    background-color: #bbbbbb;
    transform: translateY(-5px);
    animation: alternate;
    transition: 0.4s;
    box-shadow: rgba(139, 139, 139, 0.44) 5px 10px 10px;
}

